# tox configuration
# https://tox.wiki/en/latest/config.html
# https://docs.astral.sh/ruff/settings/

work_dir = ".venv/tox"
requires = ["tox>=4.19"]
env_list = ["3.10", "3.11", "3.12", "3.13", "3.14", "ruff"]

[env_run_base]
deps = ["pytest"]
commands = [["python", "-m", "pytest"]]
set_env = { PYTHONDONTWRITEBYTECODE="1" }

[env.ruff]
deps = ["ruff"]
commands = [["python", "-m", "ruff", "check"]]
set_env = { RUFF_CACHE_DIR=".venv/ruff_cache" }
skip_install = true
